<!DOCTYPE html>
<html lang="fr" ng-app="AngularApp">
<head>
    <meta charset="UTF-8">
    <title>EpsiSearchEngine :</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="help" tooltip="!a auteur, !t titre, !sub subject" tooltip-placement="bottom" class="pull-right">Usable Bangs</div>
    <div ng-controller="SearchController">
        <div align="center" id="searchBody">
            <h1><strong>EpsiSearchEngine</strong></h1>

            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by author: Maxim !a" ng-model="input"
                           typeahead="search for search in previousSearches | filter:$viewValue | limitTo:8" >
                    <div class="input-group-btn">
                        <button id="searchButton" role='button' class='btn btn-primary' ng-click="search()">
                            <i class="glyphicon glyphicon-edit"></i> Search
                        </button>
                    </div>
                </div>
            </form>

            <br>
            <form class="form-inline pull-right" method="post" enctype="multipart/form-data" action="http://localhost:8080/upload" align="left">
                <label>You can upload a file as well:</label>
                <input type="file" name="thumbnail" class="form-control">
                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Valider</button>
            </form>
        </div>

        <div id="containsSearch">
            <ul ng-repeat="result in result.results">
                <div class="page-header">
                    <h2><a href="../pdfs/{{result.fileName}}">{{result.title}}</a></h2>
                    <h3 >{{result.Author}} <small>{{result.created}}</small></h3>
                    <p>{{result.contenu|truncate:1024}}</p>
                </div>
            </ul>
        </div>

        <div ng-show="result.results.length == 0">
            <h2 class="text-center">No Results :(</h2>
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
    <script src="js/filter.js"></script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>