<!DOCTYPE html>
<html lang="fr" ng-app="AngularApp">
<head>
    <meta charset="UTF-8">
    <title>EpsiSearchEngine :</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div ng-controller="SearchController">
        <div align="center" id="searchBody">
            <h1><strong>EpsiSearchEngine</strong></h1>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." ng-model="input"
                       typeahead="search for search in previousSearches | filter:$viewValue | limitTo:8">
                <div class="input-group-btn">
                    <button role='button' class='btn btn-primary' ng-click="search()">
                        <i class="glyphicon glyphicon-edit"></i> Search
                    </button>
                </div>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data" action="http://localhost:8080/upload">
            <input type="file" name="thumbnail">
            <input type="submit">
        </form>

        <h1>Result:</h1>
        <div>
            <ul ng-repeat="result in result.results">
                <div>
                    <h2><a href="../pdfs/{{result.fileName}}">{{result.title}}</a></h2>
                    <h3>{{result.Author}} <small>{{result.created}}</small></h3>
                    <p>{{result.contenu|truncate:1024}}</p>
                </div>
            </ul>
            <div ng-hide="result">Je ne marche pas tout le temps...</div>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
    <script src="js/filter.js"></script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>